body {
    font-family: 'Allerta Stencil';font-size: 22px;
    margin: 0;
    margin: auto;
}


#main-container {
    display: flex;
    background-color: #9cd3d3;
    width: 50%;
}

#buttons {

}

#board {

}
/*
Color palette: https://palettes.shecodes.io/palettes/617
.first-color { 
	background: #b6e1e0; 
}
	
.second-color { 
	background: #9cd3d3; 
}

.third-color { 
	background: #e8630a;
}

.fourth-color { 
	background: #2b4353; 

*/
